#babcanv {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#soundcontrol {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10vmin;
  height: 10vmin;
}

#soundcontrol:hover {
  cursor: pointer;
  opacity: 0.8;
}

#soundcontrol:active {
  opacity: 0.5;
}
